<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/simple">
<head>
    <title></title>
</head>
<body>

<th:block layout:fragment="content">
    <style>
        .summery_table th{
            width:75%;
            text-align: right;
        }
        .item_actions{
            text-align: right;
        }
        .quantity_input{
            width: 50px;
            text-align: center;
        }
    </style>
    <!-- checkout -->
    <div class="cart-items">
        <div class="container">
            <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="/" title="Go to Home Page">Home</a>&nbsp;
                        <span>&gt;</span>
                    </li>
                    <li>
                        Checkout
                    </li>
                </ul>
                <ul class="previous">
                    <li><a href="/cart">Back to shopping cart</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <th:block th:if="${#lists.isEmpty(cart.items)}">
                <h2>No Items In your cart! </h2>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(cart.items)}">
                <h2>Order Details </h2>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ORDER SUMMERY
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Sub-Total</th>
                                        <th>Taxes</th>
                                        <th>Total</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="i : ${cart.items}">
                                        <td th:text="${i.product.name}"></td>
                                        <td>
                                            <form th:action="@{'/cart/update/'+${i.id} }" method="post">
                                                <input type="hidden" name="_method" value="put"/>
                                                <input type="hidden" name="onsuccess" value="checkout"/>
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                <input class="quantity_input" type="text" name="quantity" th:value="${i.quantity}" />
                                                <button>Update</button>
                                            </form>
                                        </td>
                                        <td th:text="${i.unitPrice / 100.0}"></td>
                                        <td th:text="${i.subtotal / 100.0}"></td>
                                        <td th:text="${i.taxAmount / 100.0}"></td>
                                        <td th:text="${i.subtotal / 100.0 }"></td>
                                        <td class="item_actions">
                                            <form th:action="@{'/cart/'+${i.id} }" method="post">
                                                <input type="hidden" name="_method" value="delete"/>
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                <button>Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button id="invoice-info-trigger-button">OK, Continue</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#invoice-info-container" aria-expanded="false" aria-controls="invoice-info-container">
                                    INVOICE INFORMATION
                                </a>
                            </h4>
                        </div>
                        <div id="invoice-info-container" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="registration-grids reg">
                                    <div class="reg-form">
                                        <form id="customer-info-form" th:action="@{/orders/checkout}" method="post" th:object="${order}">
                                            <h3>Personal Information</h3>
                                            <hr />
                                            <ul>
                                                <li class="text-info">First Name: </li>
                                                <li><input type="text" th:field="*{customer.firstName}" /></li>
                                            </ul>
                                            <ul>
                                                <li class="text-info">Last Name: </li>
                                                <li><input type="text" value="" th:field="*{customer.lastName}"/></li>
                                            </ul>
                                            <ul>
                                                <li class="text-info">Email: </li>
                                                <li><input type="text" value="" th:field="*{customer.email}"/></li>
                                            </ul>
                                            <br/>
                                            <h3>Billing Address</h3>
                                            <hr />
                                            <ul>
                                                <li class="text-info">Address Line 1: </li>
                                                <li><input type="text" value="" th:field="*{billingAddress.streetLine1}"/></li>
                                            </ul>
                                            <ul>
                                                <li class="text-info">Address Line 2:</li>
                                                <li><input type="text" value="" th:field="*{billingAddress.streetLine2}"/></li>
                                            </ul>
                                            <ul>
                                                <li class="text-info">City:</li>
                                                <li><input type="text" value="" th:field="*{billingAddress.city}"/></li>
                                            </ul>
                                            <ul>
                                                <li class="text-info">State:</li>
                                                <li>
                                                    <select th:field="*{billingAddress.state}">
                                                        <option th:each=" s : ${states}" th:value="${s.id}" th:text="${s.name}">State Name</option>
                                                    </select>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li class="text-info">Zip code:</li>
                                                <li><input type="text" value="" th:field="*{billingAddress.zipCode}"/></li>
                                            </ul>
                                            <ul>
                                                <li class="text-info">Country:</li>
                                                <li>
                                                    <select th:field="*{billingAddress.country}">
                                                        <option th:each="c : ${countries}" th:value="${c.id}" th:text="${c.name}">Country Name</option>
                                                    </select>
                                                </li>
                                            </ul>
                                            <br />
                                            <h3>Shipping Address</h3>
                                            <hr />
                                            <ul>
                                                <li><input type="checkbox" value="" /></li>
                                                <li class="text-info">Same as Billing address: </li>
                                            </ul>
                                            <div id="shipping_address_container">
                                                <ul>
                                                    <li class="text-info">Address Line 1: </li>
                                                    <li><input type="text" value="" th:field="*{shippingAddress.streetLine1}"/></li>
                                                </ul>
                                                <ul>
                                                    <li class="text-info">Address Line 2:</li>
                                                    <li><input type="text" value="" th:field="*{shippingAddress.streetLine2}"/></li>
                                                </ul>
                                                <ul>
                                                    <li class="text-info">City:</li>
                                                    <li><input type="text" value="" th:field="*{shippingAddress.city}"/></li>
                                                </ul>
                                                <ul>
                                                    <li class="text-info">State:</li>
                                                    <li>
                                                        <select th:field="*{shippingAddress.state}">
                                                            <option th:each=" s : ${states}" th:value="${s.id}" th:text="${s.name}">State Name</option>
                                                        </select>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li class="text-info">Zip code:</li>
                                                    <li><input type="text" value="" th:field="*{shippingAddress.zipCode}"/></li>
                                                </ul>
                                                <ul>
                                                    <li class="text-info">Country:</li>
                                                    <li>
                                                        <select th:field="*{shippingAddress.country}">
                                                            <option th:each="c : ${countries}" th:value="${c.id}" th:text="${c.name}">Country Name</option>
                                                        </select>
                                                    </li>
                                                </ul>
                                                <input type="submit" value="SUBMIT" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#shipping-method-panel" aria-expanded="false" aria-controls="shipping-method-panel">
                                    SHIPPING METHOD
                                </a>
                            </h4>
                        </div>
                        <div id="shipping-method-panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="registration-grids reg">
                                    <div class="reg-form" id="shipping-form-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="payment-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#payment-panel" aria-expanded="false" aria-controls="payment-panel">
                                    PAYMENT DETAILS
                                </a>
                            </h4>
                        </div>
                        <div id="payment-panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="registration-grids reg">
                                    <div class="reg-form" id="payment-form-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </th:block>
        </div>
    </div>

    <!-- //checkout -->


</th:block>
<th:block layout:fragment="page_js">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script th:inline="javascript">

        function handle_submit_form(form_selector, success){
            $(document).on("submit", form_selector, function(e) {
                var form = $(this);
                var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: success,
                    error: function (jqXHR, textStatus, errorMessage) {
                        alert("Error submitting form.");
                    }
                });
                e.preventDefault(); // avoid to execute the actual submit of the form.
            });
        }

        Stripe.setPublishableKey([[${stripePublicKey}]]);

        var PaymentFlow = function(form_selector){
            this.tokenAvailable = false;
            this.paymentForm = $(form_selector);
        };

        PaymentFlow.prototype.submitForm = function(token){
            this.paymentForm.find('input[name=token]').val(token);
            this.paymentForm[0].submit();
        };
        PaymentFlow.prototype.showInvalidCardMessage= function(error){
            $('#card_error_message').show().text(error.message);
        };

        PaymentFlow.prototype.stripeResponseHandler = function(status, response) {
            if (status === 200) {
                this.paymentForm.find('input[type=submit]').prop('disabled', false);
                this.submitForm(response.id);
            } else {
                this.paymentForm.find('input[type=submit]').prop('disabled', false);
                this.showInvalidCardMessage(response.error);
            }
        };

        $(function(){
            $("#invoice-info-trigger-button").click(function(){
                $("#invoice-info-container").collapse('show');
            });
            handle_submit_form("#customer-info-form", function(data){
                $("#shipping-method-panel").collapse('show');
                $("#shipping-form-container").html(data);
            });
            handle_submit_form("#shipping-method-form", function(data){
                $("#payment-panel").collapse('show');
                $("#payment-form-container").html(data);
            });


            $(document).on("submit", "#payment-form",  function(e) {
                var paymentFlow = new PaymentFlow("#payment-form");

                if(!paymentFlow.tokenAvailable) {
                    // Disable the submit button to prevent repeated clicks
                    paymentFlow.paymentForm.find('input[type=submit]').prop('disabled', true);

                    Stripe.card.createToken(paymentFlow.paymentForm, function(status, response){
                        paymentFlow.stripeResponseHandler(status, response);
                    });
                    // Prevent the form from submitting with the default action
                    e.preventDefault();
                }
            });
        });
    </script>
</th:block>
</body>
</html>